<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>20200220</display-name>
  <!--servlet을 매핑한다 -->
  <servlet>
  <servlet-name>SE1</servlet-name>
  <servlet-class>co.lucjay.second.Third</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>SE1</servlet-name>
  <url-pattern>/BB</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>BINOO</servlet-name>
  <servlet-class>co.lucjay.second.binoo</servlet-class>
  </servlet>
    <servlet-mapping>
  <servlet-name>BINOO</servlet-name>
  <url-pattern>/lee</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
     <!-- root경로로 요청올때 보여주는 페이지 정의-->
  </welcome-file-list>
</web-app>